body {
    text-align: center;
}

img {
    display:none;
}

canvas {
    background: #fff;
}

.swal-button {
    background-color: #4CAF50;
    outline: none;
}

.swal-button:focus {
    box-shadow: none;
}